@import "mod.css";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


#container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
  
}

.box{
    background-color: red;
    min-height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
}


/* @media only screen and (max-width: 1222px) {
    #container{
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
}

@media only screen and (max-width: 765px) {

} */